[Unit]
Description=Oracle Database 12c Start service
After=network.target

[Service]
Type=forking
User=Put here your oracle user
ExecStart=$ORACLE_HOME/bin/dbstart $ORACLE_HOME #Modifies "$ORACLE_HOME" with the real directory
ExecStop=$ORACLE_HOME/bin/dbshut $ORACLE_HOME
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
