[Unit]
Description=Oracle Database 12c Start service

[Service]
Type=forking
User=oracle
ExecStart=$ORACLE_HOME/bin/dbstart $ORACLE_HOME #Change "$ORACLE_HOME" with the real directory
ExecStop=$ORACLE_HOME/bin/dbshut $ORACLE_HOME
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
